VITE_SUPABASE_URL=https://coqfzlzcvvzclblbsuck.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_O1qI4W1tlJhKRZHg-RtT9Q_PP1gHrzF
VITE_AUTH_REDIRECT_URL=http://127.0.0.1:5173/
VITE_ENABLE_GOOGLE_LINK=true
VITE_ENABLE_FACEBOOK_LINK=false
VITE_ENABLE_DISCORD_LINK=false
